body {
    background-color: rgb(19, 17, 17);
    color: white;
    margin: 0;
    min-height: 100vh;
}

h1 {
    text-align: center; 
    font-size: 2.2em;
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
    display:inline-block;
    width:50%;
    margin-left: 8%;
    line-height: 1.5em;
    font-size: 1.1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

pre code {
    border-radius: 10px;
}

pre.manual-highlight{
    border-radius: 10px;
    overflow-x: auto; 
    padding: 0.5em; 
    background: rgb(240, 240, 240);
    color: rgb(68, 68, 68);
}

.language-tag {
    color: black;
}
.token-highlight {
    color: rebeccapurple;
}

.symbol-highlight {
    color: green;
    font-weight: bold;
}

.type-highlight {
    color: red;
}


.article-block {
    display:inline-block;
    margin: 3%;
    vertical-align: top;
    font-family: Inter,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    border-right: 1px solid grey;
    padding-right: 3%;
    font-size: 2em;
    line-height: 2em;
    margin-bottom: 0%;
}

.article-block ul {
    list-style: none;
}

.article-block li {
    font-size:1em;
    color: white;
    transition: color 0.5s ease;
    cursor: pointer;
}

.article-block li:hover {
    color: skyblue;
}

.wrapper a {
    color: green;
    font-size: 1em;
    text-decoration: none;
    transition: color 0.5s ease;
}

.wrapper a:hover {
    color: rgb(5, 241, 5);
}

.navigator {
    text-align:center;
    width: 90%;
    margin: auto;
}

.add-span-margin {
    margin: 2% 0;
}

.navigator span{
    font-family: Inter,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 2em;
    font-weight: bold;
    color:white;
    transition: color 0.5s ease;
    cursor: pointer;
    margin: 0 2%;
}

.navigator span:hover{
    color: skyblue;
}

.navigator span:visited {
    color: white;
}

#nav-icon {
    display: none;
    width: 10%;
    max-width: 70px;
    position: absolute;
    left: 0;
    top: 0;
    right:95%;
    transition: left 0.5s ease, right 0.5s ease;
    z-index: 2;
    cursor: pointer;
    padding: 2px;
}

#nav-icon .bar, .bar1, .bar2, .bar3 {
    width:100%;
    height:3px;
    background-color:white;
    transition: 0.5s ease;
    margin: 11px 0;
}

.animate-bar .bar1 {
    transform: translate(0, 14px) rotate(-45deg);
}

.animate-bar .bar2 {
    opacity: 0;
}

.animate-bar .bar3 {
    transform: translate(0, -14px) rotate(45deg);
}


#content-navigation-anim {
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    transition: opacity 0.5s ease;
}

#content-navigation-body {
    position: relative;
    width: 100%;
    height: 90%;
    top: 10%;
    left: 0%;
    scrollbar-width: none;
    overflow: auto;
}

@media (max-width:720px) {
    .wrapper {
        width:90%;
        font-size: 1em;
        display: block;
        margin: auto;
    }

    #nav-icon {
        display: block;
    }

    .article-block {
        display: none;
    }
}